<mat-toolbar color="primary">Evan</mat-toolbar>
<div class="ev-main-content">
    <div class="ev-main-content-inner">
        <div class="ev-select-devices" *ngIf="availableDevices">
            <mat-form-field>
                <mat-select placeholder="Selecciona una camara" (selectionChange)="onDeviceSelectChange($event)" [(value)]="selectedDevice">
                    <mat-option value="">Sin dispositivo</mat-option>
                    <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">
                        {{ device.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div [hidden]="!hasCameras">
            <p class="ev-message" *ngIf="!this.selectedDevice">NO hay una camara seleccionada</p>
            <zxing-scanner #scanner start="true" class="ev-video" [scannerEnabled]="scannerEnabled" [device]="selectedDevice" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
            <div class="ev-response" *ngIf="qrResultString">
                <div class="ev-info">
                    <p class="ev-label">Información</p>
                    <div class="ev-row">
                        <p class="ev-title">Código: </p>
                        <p class="ev-description">{{info[0]}}</p>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Descripción: </p>
                        <p class="ev-description">{{info[1]}}</p>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Categoría: </p>
                        <p class="ev-description" *ngIf="categories">{{getElementValue(info[2], categories)}}</p>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Medida: </p>
                        <p class="ev-description" *ngIf="measurements">{{getElementValue(info[3], measurements)}}</p>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Unidad: </p>
                        <mat-form-field class="ev-input">
                            <input matInput [(ngModel)]="units">
                        </mat-form-field>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Presentación: </p>
                        <p class="ev-description" *ngIf="presentations">{{getElementValue(info[5], presentations)}}</p>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Contenido: </p>
                        <p class="ev-description" *ngIf="measurements">{{getContentValue(info[6])}}</p>
                    </div>
                    <div class="ev-row">
                        <p class="ev-title">Proveedor: </p>
                        <mat-form-field *ngIf="providers">
                            <mat-select [(ngModel)]="provider">
                                <mat-option *ngFor="let provider of providers" [value]="provider.id" >
                                    {{ provider.description }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="ev-actions">
                    <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
                    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
                </div>
            </div>
        </div>

        <div class="ev-error-container" *ngIf="!hasCameras && hasPermission === true">
            <p>Looks like your actual device does not has cameras, or I could no find'em. </p>
        </div>
        <div class="ev-error-container" *ngIf="hasPermission === undefined">
            <p>Waiting for permissions.</p>
            <blockquote>
            <p>If your device does not has cameras, no permissions will be asked.</p>
            </blockquote>
        </div>
        <div class="ev-error-container" *ngIf="hasPermission === false">
            <p>You denied the camera permissions, we can't scan anything without it. 😪</p>
        </div>
    </div>
</div>
