/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: #36464e;
}
p{
    margin: 0;
    padding: 0;
}

.ss-card{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 3px;
    padding: 16px;
}
